#cart{
  float: right;
  background-color: #92a8d1;
  font-style: italic;
}

.cartItem{
  background-color: #92a8d1;
  font-style: italic;
}

#content{
  clear: both;
}

body{
  background-color: #92a8d1;
}
